<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qweather.leframework.base.rbac.user_role">
    <resultMap type="com.qweather.leframework.base.rbac.user_role.service.po.UserRoleEntity" extends="com.qweather.leframework.model.idMap" id="user_roleResultMap">
        <result property="userId" column="USER_ID"/>
        <result property="roleId" column="ROLE_ID"/>
    </resultMap>

    <select id="list" parameterType="com.qweather.leframework.base.rbac.user_role.service.impl.UserRoleQueryImpl"
            resultMap="user_roleResultMap">
        ${limitBefore}
        SELECT A.* ${limitBetween}
        <include refid="query"/>
        ${orderBy}
        ${limitAfter}
    </select>

    <select id="count" parameterType="com.qweather.leframework.base.rbac.user_role.service.impl.UserRoleQueryImpl" resultType="long">
        SELECT COUNT(*)
        <include refid="query"/>
    </select>

    <sql id="query">
        FROM ${baseTablePrefix}user_role A
        <where>
            <if test="userId!=null and userId!=''">
                AND USER_ID = #{userId}
            </if>
            <if test="roleId!=null and roleId!=''">
                AND ROLE_ID = #{roleId}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.qweather.leframework.base.rbac.user_role.service.po.UserRoleEntity">
        INSERT INTO ${baseTablePrefix}user_role (USER_ID, ROLE_ID)
        VALUES (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
    </insert>


    <insert id="multiInsert" parameterType="java.util.List">
        INSERT INTO ${baseTablePrefix}user_role (
        USER_ID, ROLE_ID )
        VALUES
        <foreach collection="list" item="user_role" index="index" separator=",">
            (
            #{user_role.userId,jdbcType=BIGINT},
            #{user_role.roleId,jdbcType=BIGINT}
            )
        </foreach>
    </insert>

    <delete id="delete">
        DELETE FROM ${baseTablePrefix}user_role WHERE USER_ID = #{userId}
        <if test="roleId!=null">
            AND ROLE_ID = #{roleId}
        </if>
    </delete>

</mapper>
