<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.le.base.rbac.permission">
    <resultMap type="com.qweather.leframework.base.rbac.permission.service.po.PermissionEntity" extends="org.le.model.baseMap"
               id="permissionResultMap">
        <result property="pid" column="PID"/>
        <result property="code" column="CODE"/>
        <result property="operation" column="OPERATION"/>
        <result property="icon" column="ICON"/>
        <result property="route" column="ROUTE"/>
        <result property="url" column="URL"/>
        <result property="param" column="PARAM"/>
        <result property="expression" column="EXPRESSION"/>
        <result property="menu" column="MENU"/>
        <result property="sort" column="SORT"/>
    </resultMap>

    <select id="list" parameterType="com.qweather.leframework.base.rbac.permission.service.impl.PermissionQueryImpl"
            resultMap="permissionResultMap">
        ${limitBefore}
        SELECT A.* ${limitBetween}
        <include refid="query"/>
        ${orderBy}
        ${limitAfter}
    </select>

    <select id="count" parameterType="com.qweather.leframework.base.rbac.permission.service.impl.PermissionQueryImpl" resultType="long">
        SELECT COUNT(*)
        <include refid="query"/>
    </select>

    <sql id="query">
        FROM ${baseTablePrefix}permission A
        <where>
            A.DISPLAY = TRUE
            <if test="id!=null">
                AND A.ID = #{id}
            </if>
            <if test="pid!=null">
                AND A.PID = #{pid}
            </if>
            <if test="code!=null and code!=''">
                AND A.CODE = #{code}
            </if>
            <if test="codeLike!=null and codeLike!=''">
                AND A.CODE like concat(#{codeLike}, '%') escape '/'
            </if>
            <if test="operationLike!=null and operationLike!=''">
                AND A.OPERATION like concat('%', concat(#{operationLike}, '%')) escape '/'
            </if>
            <if test="route!=null and route!=''">
                AND A.ROUTE = #{route}
            </if>
            <if test="url!=null and url!=''">
                AND A.URL = #{url}
            </if>
            <if test="menu!=null">
                <if test="menu == true">
                    AND A.MENU = TRUE
                </if>
                <if test="menu == false">
                    AND A.MENU = FALSE
                </if>
            </if>

        </where>
    </sql>

    <insert id="insert" parameterType="com.qweather.leframework.base.rbac.permission.service.po.PermissionEntity">
        INSERT INTO ${baseTablePrefix}permission (ID,
                                                  REMARK,
                                                  AUTHOR_ID,
                                                  AUTHOR_TIME,
                                                  MODIFYER_ID,
                                                  MODIFY_TIME,
                                                  STATUS,
                                                  DISPLAY,
                                                  PID,
                                                  CODE,
                                                  OPERATION,
                                                  ICON,
                                                  ROUTE,
                                                  URL,
                                                  PARAM,
                                                  EXPRESSION,
                                                  MENU,
                                                  SORT)
        VALUES (#{id,jdbcType=BIGINT},
                #{remark,jdbcType=VARCHAR},
                #{authorId,jdbcType=BIGINT},
                #{authorTime,jdbcType=VARCHAR},
                #{modifyerId,jdbcType=BIGINT},
                #{modifyTime,jdbcType=VARCHAR},
                #{status,jdbcType=TINYINT},
                #{display,jdbcType=TINYINT},
                #{pid,jdbcType=BIGINT},
                #{code,jdbcType=VARCHAR},
                #{operation,jdbcType=VARCHAR},
                #{icon,jdbcType=VARCHAR},
                #{route,jdbcType=VARCHAR},
                #{url,jdbcType=VARCHAR},
                #{param,jdbcType=VARCHAR},
                #{expression,jdbcType=VARCHAR},
                #{menu,jdbcType=TINYINT},
                #{sort,jdbcType=SMALLINT})
    </insert>


    <insert id="multiInsert" parameterType="java.util.List">
        INSERT INTO ${baseTablePrefix}permission (
        ID,
        REMARK,
        AUTHOR_ID,
        AUTHOR_TIME,
        MODIFYER_ID,
        MODIFY_TIME,
        STATUS,
        DISPLAY,
        PID, CODE, OPERATION, ICON, ROUTE, URL, PARAM, EXPRESSION , MENU , SORT )
        VALUES
        <foreach collection="list" item="permission" index="index" separator=",">
            (
            #{permission.id,jdbcType=BIGINT},
            #{permission.remark,jdbcType=VARCHAR},
            #{permission.authorId,jdbcType=BIGINT},
            #{permission.authorTime,jdbcType=VARCHAR},
            #{permission.modifyerId,jdbcType=BIGINT},
            #{permission.modifyTime,jdbcType=VARCHAR},
            #{permission.status,jdbcType=TINYINT},
            #{permission.display,jdbcType=TINYINT},

            #{permission.pid,jdbcType=BIGINT},
            #{permission.code,jdbcType=VARCHAR},
            #{permission.operation,jdbcType=VARCHAR},
            #{permission.icon,jdbcType=VARCHAR},
            #{permission.route,jdbcType=VARCHAR},
            #{permission.url,jdbcType=VARCHAR},
            #{permission.param,jdbcType=VARCHAR},
            #{permission.expression,jdbcType=VARCHAR},
            #{permission.menu,jdbcType=TINYINT},
            #{permission.sort,jdbcType=SMALLINT}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE ${baseTablePrefix}permission
        set REMARK      = #{remark,jdbcType=VARCHAR},
            AUTHOR_ID   = #{authorId,jdbcType=BIGINT},
            AUTHOR_TIME = #{authorTime,jdbcType=VARCHAR},
            MODIFYER_ID = #{modifyerId,jdbcType=BIGINT},
            MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
            STATUS      = #{status,jdbcType=TINYINT},
            DISPLAY     = #{display,jdbcType=TINYINT},
            PID         = #{pid,jdbcType=BIGINT},
            CODE        = #{code,jdbcType=VARCHAR},
            OPERATION   = #{operation,jdbcType=VARCHAR},
            ICON        = #{icon,jdbcType=VARCHAR},
            ROUTE       = #{route,jdbcType=VARCHAR},
            URL         = #{url,jdbcType=VARCHAR},
            PARAM       = #{param,jdbcType=VARCHAR},
            EXPRESSION  = #{expression,jdbcType=VARCHAR},
            MENU        = #{menu,jdbcType=TINYINT},
            SORT        = #{sort,jdbcType=SMALLINT}
        where ID = #{id}
    </update>

    <select id="getById" resultMap="permissionResultMap">
        SELECT *
        FROM ${baseTablePrefix}permission A
        WHERE A.DISPLAY = TRUE
          AND ID = #{id}
    </select>

    <update id="delete">
        UPDATE ${baseTablePrefix}permission
        SET DISPLAY = FALSE
        WHERE ID = #{id}
    </update>

    <delete id="deleteForever">
        DELETE
        FROM ${baseTablePrefix}permission
        WHERE ID = #{id}
    </delete>

    <select id="getPermissionByRoleId" resultMap="permissionResultMap">
        SELECT A.*
        FROM ${baseTablePrefix}permission A
                 INNER JOIN ${baseTablePrefix}role_permission L on A.ID = L.PERMISSION_ID
        WHERE L.ROLE_ID = #{roleId}
    </select>

</mapper>
