<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qweather.leframework.base.variable">
    <resultMap type="com.qweather.leframework.base.variable.service.po.VariableEntity" extends="com.qweather.leframework.model.baseMap"
               id="variableResultMap">
        <result property="code" column="ITEM_CODE"/>
        <result property="value" column="ITEM_VALUE"/>
    </resultMap>
    <select id="list" parameterType="com.qweather.leframework.base.variable.service.impl.VariableQueryImpl" resultMap="variableResultMap">
        ${limitBefore}
        SELECT A.* ${limitBetween}
        <include refid="query"/>
        ${orderBy}
        ${limitAfter}
    </select>

    <select id="count" parameterType="com.qweather.leframework.base.variable.service.impl.VariableQueryImpl" resultType="long">
        SELECT COUNT(*)
        <include refid="query"/>
    </select>

    <sql id="query">
        FROM ${baseTablePrefix}variable A
        <where>
            A.DISPLAY = TRUE
            <if test="id!=null ">
                AND ID = #{id}
            </if>
            <if test="code!=null and code!=''">
                AND A.ITEM_CODE = #{code}
            </if>
            <if test="value!=null and value!=''">
                AND VALUE = #{value}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.qweather.leframework.base.variable.service.po.VariableEntity">
        INSERT INTO ${baseTablePrefix}variable (ID,
                                                REMARK,
                                                AUTHOR_ID,
                                                AUTHOR_TIME,
                                                MODIFYER_ID,
                                                MODIFY_TIME,
                                                STATUS,
                                                DISPLAY,
                                                ITEM_CODE,
                                                ITEM_VALUE)
        VALUES (#{id,jdbcType=BIGINT},
                #{remark,jdbcType=VARCHAR},
                #{authorId,jdbcType=BIGINT},
                #{authorTime,jdbcType=VARCHAR},
                #{modifyerId,jdbcType=BIGINT},
                #{modifyTime,jdbcType=VARCHAR},
                #{status,jdbcType=TINYINT},
                #{display,jdbcType=TINYINT},
                #{code,jdbcType=VARCHAR},
                #{value,jdbcType=VARCHAR})
    </insert>


    <insert id="multiInsert" parameterType="java.util.List">
        INSERT INTO ${baseTablePrefix}variable (
        ID,
        REMARK,
        AUTHOR_ID,
        AUTHOR_TIME,
        MODIFYER_ID,
        MODIFY_TIME,
        STATUS,
        DISPLAY,
        ITEM_CODE,
        ITEM_VALUE )
        VALUES
        <foreach collection="list" item="variable" index="index" separator=",">
            (
            #{variable.id,jdbcType=BIGINT},
            #{variable.remark,jdbcType=VARCHAR},
            #{variable.authorId,jdbcType=BIGINT},
            #{variable.authorTime,jdbcType=VARCHAR},
            #{variable.modifyerId,jdbcType=BIGINT},
            #{variable.modifyTime,jdbcType=VARCHAR},
            #{variable.status,jdbcType=TINYINT},
            #{variable.display,jdbcType=TINYINT},

            #{variable.code,jdbcType=VARCHAR},
            #{variable.value,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE ${baseTablePrefix}variable
        SET REMARK      = #{remark,jdbcType=VARCHAR},
            AUTHOR_ID   = #{authorId,jdbcType=BIGINT},
            AUTHOR_TIME = #{authorTime,jdbcType=VARCHAR},
            MODIFYER_ID = #{modifyerId,jdbcType=BIGINT},
            MODIFY_TIME = #{modifyTime,jdbcType=VARCHAR},
            STATUS      = #{status,jdbcType=TINYINT},
            DISPLAY     = #{display,jdbcType=TINYINT},
            ITEM_CODE   = #{code,jdbcType=VARCHAR},
            ITEM_VALUE  = #{value,jdbcType=VARCHAR}
        WHERE ID = #{id}
    </update>

    <update id="delete">
        UPDATE ${baseTablePrefix}variable
        SET DISPLAY = FALSE
        WHERE ID = #{id}
    </update>

    <delete id="deleteForever">
        DELETE
        FROM ${baseTablePrefix}variable
        WHERE ID = #{id}
    </delete>

</mapper>
