<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.le.base.rbac.role_permission">
    <resultMap type="org.le.base.rbac.role_permission.service.po.RolePermissionEntity" id="role_permissionResultMap">
        <result property="roleId" column="ROLE_ID"/>
        <result property="permissionId" column="PERMISSION_ID"/>
    </resultMap>

    <select id="list" parameterType="org.le.base.rbac.role_permission.service.impl.RolePermissionQueryImpl"
            resultMap="role_permissionResultMap">
        ${limitBefore}
        SELECT A.* ${limitBetween}
        <include refid="query"/>
        ${orderBy}
        ${limitAfter}
    </select>

    <select id="count" parameterType="org.le.base.rbac.role_permission.service.impl.RolePermissionQueryImpl"
            resultType="long">
        SELECT COUNT(*)
        <include refid="query"/>
    </select>

    <sql id="query">
        FROM ${baseTablePrefix}role_permission A
        <where>
            <if test="roleId!=null and roleId!=''">
                AND ROLE_ID = #{roleId}
            </if>
            <if test="permissionId!=null and permissionId!=''">
                AND PERMISSION_ID = #{permissionId}
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="org.le.base.rbac.role_permission.service.po.RolePermissionEntity">
        INSERT INTO ${baseTablePrefix}role_permission (ROLE_ID, PERMISSION_ID)
        VALUES (#{roleId,jdbcType=BIGINT}, #{permissionId,jdbcType=BIGINT})
    </insert>


    <insert id="multiInsert" parameterType="java.util.List">
        INSERT INTO ${baseTablePrefix}role_permission (
        ROLE_ID, PERMISSION_ID )
        VALUES
        <foreach collection="list" item="role_permission" index="index" separator=",">
            (
            #{role_permission.roleId,jdbcType=BIGINT}, #{role_permission.permissionId,jdbcType=BIGINT} )
        </foreach>
    </insert>

    <delete id="delete">
        DELETE
        FROM ${baseTablePrefix}role_permission
        WHERE ROLE_ID = #{roleId}
          AND PERMISSION_ID = #{permissionId}

    </delete>

    <delete id="deleteByRoleId">
        DELETE
        FROM ${baseTablePrefix}role_permission
        WHERE ROLE_ID = #{roleId}
    </delete>

</mapper>
