<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qweather.leframework.base.rbac.role_mutex">
    <resultMap type="com.qweather.leframework.base.rbac.role_mutex.service.po.RoleMutexEntity" id="role_mutexResultMap">
        <result property="roleA" column="ROLE_A"/>
        <result property="roleB" column="ROLE_B"/>
    </resultMap>

    <select id="list" parameterType="com.qweather.leframework.base.rbac.role_mutex.service.impl.RoleMutexQueryImpl"
            resultMap="role_mutexResultMap">
        ${limitBefore}
        SELECT A.* ${limitBetween}
        <include refid="query"/>
        ${orderBy}
        ${limitAfter}
    </select>

    <select id="count" parameterType="com.qweather.leframework.base.rbac.role_mutex.service.impl.RoleMutexQueryImpl" resultType="long">
        SELECT COUNT(*)
        <include refid="query"/>
    </select>

    <sql id="query">
        FROM ${baseTablePrefix}role_mutex A
        <where>
            <if test="roleA!=null and roleA!=''">
                AND ( ROLE_A = #{roleA} OR ROLE_B = #{roleA} )
            </if>
            <if test="roleB!=null and roleB!=''">
                AND ( ROLE_A = #{roleB} OR ROLE_B = #{roleB} )
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="com.qweather.leframework.base.rbac.role_mutex.service.po.RoleMutexEntity">
        INSERT INTO ${baseTablePrefix}role_mutex (ROLE_A, ROLE_B)
        VALUES (#{roleA,jdbcType=VARCHAR}, #{roleB,jdbcType=VARCHAR})
    </insert>


    <insert id="multiInsert" parameterType="java.util.List">
        INSERT INTO ${baseTablePrefix}role_mutex ( ROLE_A, ROLE_B )
        VALUES
        <foreach collection="list" item="role_mutex" index="index" separator=",">
            ( #{role_mutex.roleA,jdbcType=VARCHAR}, #{role_mutex.roleB,jdbcType=VARCHAR} )
        </foreach>
    </insert>

    <delete id="delete">
        DELETE
        FROM ${baseTablePrefix}role_mutex
        WHERE ROLE_A = #{roleA}
          AND ROLE_B = #{roleB}
    </delete>

</mapper>
